{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Trademill Deals</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'affiliate/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Treadmill Deals</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Privacy Policy</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'affiliate/images/1.jfif' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>TeadMill Deals</h3>
            <p>Find the lowest Treadmill prices online!</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/2.jfif' %}')">
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/3.jfif' %}')">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <!-- Portfolio Section -->
    <h1 class="my-4">Trademill Deals</h1>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3kNE5v1"><img class="card-img-top" src="{% static 'affiliate/images/t1.jpg' %}" width="700" height="400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3kNE5v1">WalkingPad R1 Pro Treadmill</a>
            </h4>
            <p class="card-text">Your perfect exercise buddy that allows you to stay healthy under different scenarios.Can be controlled in three ways.</p>
            <a href="https://amzn.to/3kNE5v1" class="btn btn-secondary">$999</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/30bRwvl"><img class="card-img-top" src="{% static 'affiliate/images/t2.jpg' %}" width="700" height="400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/30bRwvl">New WalkSlim Treadmill </a>
            </h4>
            <p class="card-text">FASTEST HOME TREADMIL: Love running? Now our top of the range WalkSlim 920 running machine can reach a speed of 15km/hour so you can run everyday in your own home. </p>
            <a href="https://amzn.to/30bRwvl" class="btn btn-secondary">$2295</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/38cKevz"><img class="card-img-top" src="{% static 'affiliate/images/t3.jpg' %}" width="700" height="400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/38cKevz">Spirit Treadmill</a>
            </h4>
            <p class="card-text">Space saver design. This treadmill can fold up and is on wheels.15 Level Automatic Incline Heavy Duty 2.5 CHP Motor with Lifetime Motor Warranty Pro Cushion Suspension System to Reduce Impact on your Joints</p>
            <a href="https://amzn.to/38cKevz" class="btn btn-secondary">$1250</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/38aZZDw"><img class="card-img-top" src="{% static 'affiliate/images/t4.jpg' %}" width="700" height="400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/38aZZDw">Lifespan Fitness Torque Treadmill</a>
            </h4>
            <p class="card-text">EverDrive H6 Motor – Rely on the powerful 4.0 CHP EverDrive H6 Motor for consistent running speeds up to 18km/h and max weight of 160kg.AUTOMATIC INCLINE – Get the heart pumping with 20 levels of automatic incline.</p>
            <a href="https://amzn.to/38aZZDw" class="btn btn-secondary">$1360</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3c6zLCW"><img class="card-img-top" src="{% static 'affiliate/images/t5.jpg' %}" width="700" height="400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3c6zLCW">Spirit Treadmill Running Exercise</a>
            </h4>
            <p class="card-text">Space saver design. This treadmill can fold up and is on wheels. 15 Level Automatic Incline Heavy Duty 2.5 CHP Motor with Lifetime Motor Warranty Pro Cushion Suspension System to Reduce Impact on your Joints</p>
            <a href="https://amzn.to/3c6zLCW" class="btn btn-secondary">$1299</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3qi4zpu"><img class="card-img-top" src="{% static 'affiliate/images/t6.jpg' %}" width="700" height="400" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3qi4zpu">i6 Sport Pro Treadmill</a>
            </h4>
            <p class="card-text">Quiet, powerful and reliable AC motor: 3 CHP AC motor (4HP peak) with up to 20kmh top speed and 20% incline WIFI and Bluetooth connectivity: stream, download, search and connect with I FEEL FIT’s interactive</p>
            <a href="https://amzn.to/3qi4zpu" class="btn btn-secondary">$1399</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'affiliate/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
